/* Enter your custom styles here */
.sapUxAPObjectPageHeaderContentItem {
    width: 100%;
}
.cl_status
{
	text-align: center !important;
	height : 2em;
}
.c1
{
	width: 6.9em;
}
.c2
{
	width: 1em;
}
.c3
{
	width: 9em;
}
.mob_col1
{
	width:5em;
}
.mob_col2
{
	width:10em;
}
.mob_co3
{
	
}